@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Work+Sans:wght@600&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialised;
  text-rendering: optimizeLegibility;
}

header {
  background-color: #ffbccc;
  padding: 20px;
  text-align: center;
  border-bottom: 3px solid black;
}

h1 {
  margin: 0;
}

h2.book-title {
  text-align: left;
}

p.featured {
  margin: 22px 0;
}

h3,
p {
  margin: 10px 0;
}

.author,
.description,
.date {
  font-family: 'Libre Baskerville', serif;
  text-align: left;
}

.author,
.date {
  font-style: italic;
}

p.date.featured {
  margin-bottom: 200px;
}

article.book {
  padding-right: 30px;
}

img {
  object-fit: cover;
}

img.book {
  filter: grayscale(100%);
  border: 3px solid black;
}

svg.logo {
  height: 50px;
}

svg.hand {
  width: 52px;
  margin-bottom: 16px;
}

svg.icon {
  position: fixed;
  height: 44px;
  right: 44px;
  top: 124px;
  cursor: pointer;
}

img.book.list {
  width: 173px;
  height: 233px;
  cursor: pointer;
}

img.book.featured {
  height: 518px;
  width: 388px;
  margin-top: 100px;
}

div.book-info {
  width: 388px;
  margin: auto;
}

article.book:last-child {
  padding-bottom: 20px;
}

section.main-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

div.books-container,
div.side-panel {
  overflow: scroll;
}

div.books-container {
  height: 100vh;
  background-color: #a7e1f8;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 32px;
  padding: 32px;
}

div.side-panel {
  background-color: #ffe581;
  border-left: 3px solid;
  text-align: center;
  height: calc(100vh + 64px);
}

.empty {
  font-size: 20px;
  text-align: center;
}

div.empty-book {
  margin-top: 220px;
}
